@media (min-width : 800px){
    .SideMenuAndContent{
        display: flex;
        flex:1;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width : 800px){
    .SideMenuAndContent{
        display: flex;
        flex : 1;
        justify-content: flex-start;
        align-items: flex-start;
    }
}


